<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AddOnFE_Facturatech.Querys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="AddOnFE_Facturatech.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AddOnFE_Facturatech.Querys>
            <setting name="PARAMG" serializeAs="String">
                <value>Select * from "@FEDIAN_PARAMG"</value>
            </setting>
            <setting name="CargueMonitor" serializeAs="String">
                <value>Select 
A0."Code", A0."U_ObjType" as "Tipo Objeto", A0."U_DocType" as "Tipo Documento", A1."Name" as "Documento DIAN", A0."U_Folio" as "Numero Documento", A0."U_Prefijo" as "Prefijo", A0."U_DocNum" as "Numero Interno", 
A0."U_Status" as "Codigo Estado", A0."U_Resultado" as "Descripcion Estado", A0."U_ProcessID" as "ID Proceso", 
A0."U_Fecha_Envio" as "Fecha de contabilizacion", A0."U_Hora_Envio" as "Hora de creacion", A0."U_Usuario_Envio" as "Usuario Envio", 
A0."U_Det_Peticion" as "Detalle Peticion", A0."U_Respuesta_Int" as "Respuesta Integracion", A0."U_Archivo_PDF" as "Archivo PDF", A0."U_Enlace_XML" as "Archivo XML",
A0."U_ID_Seguimiento" as "CUFE"
From "@FEDIAN_MONITORLOG" A0
Left Join "@FEDIAN_CODDOC" A1 On A0."U_DocType" = A1."Code"
Where (A0."U_Fecha_Envio" Between '{0}' and '{1}' or IfNull(A0."U_Fecha_Envio",'') = '') and (A0."U_DocType" = '{2}' OR IfNull('{2}','')='') and (A0."U_Status" = '{3}' OR IfNull('{3}','')='')
Order By Cast(A0."Code" as int)</value>
            </setting>
            <setting name="cmbTipodoc" serializeAs="String">
                <value>Select * from "@FEDIAN_CODDOC" Order By "Code"</value>
            </setting>
            <setting name="cmbEstado" serializeAs="String">
                <value>Select "U_Status", 
Case 
When "U_Status" = '201' Then 'Procesado' 
When "U_Status" = '200' Then 'En Proceso' 
When "U_Status" = '409' Then 'Error' 
When "U_Status" = '405' Then 'Error'
When "U_Status" = '404' Then 'Error' else 'En Proceso' End
from "@FEDIAN_MONITORLOG"
Where IfNull("U_Status",'') != ''
Group By "U_Status"
Order By "U_Status"</value>
            </setting>
            <setting name="MaxLog" serializeAs="String">
                <value>Select IFNull(Max(cast("Code" as Int)),0)+1 As "NextCode" From "@FEDIAN_MONITORLOG"</value>
            </setting>
            <setting name="ProcessStatus" serializeAs="String">
                <value>Select "Code", "U_ProcessID" as "ProcessID", "U_ID_Seguimiento" as "ID_Seguimiento", "U_Det_Peticion" as "Det_Peticion", "U_DocType" as "docType"
From "@FEDIAN_MONITORLOG"
Where (IfNull("U_Status",'') in ({0})) Or (IfNull("U_Status",'') = '' And IfNull(Cast("U_Archivo_PDF" as Nvarchar(2500)), '') = '' )</value>
            </setting>
        </AddOnFE_Facturatech.Querys>
        <AddOnFE_Facturatech.Properties.Settings>
            <setting name="FileLog" serializeAs="String">
                <value>FE_DIAN_LOG</value>
            </setting>
            <setting name="AddOnFE_Facturatech_FacturatechWS_SERVICES_FACTURATECH"
                serializeAs="String">
                <value>https://ws.facturatech.co/v2/demo/index.php?wsdl</value>
            </setting>
            <setting name="AddOnFE_Facturatech_facturatechWSdse_DOCUMENTO_SOPORTE_FACTURATECH"
                serializeAs="String">
                <value>http://ws-dse.facturatech.co/v1/demo/?wsdl</value>
            </setting>
            <setting name="AddOnFE_Facturatech_FacturatechWSNC_SERVICES_NOMINA_FACTURATECH"
                serializeAs="String">
                <value>https://ws-nomina.facturatech.co/v1/demo/index.php?wsdl</value>
            </setting>
            <setting name="TimerStatus" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="TimerResend" serializeAs="String">
                <value>300000</value>
            </setting>
        </AddOnFE_Facturatech.Properties.Settings>
    </applicationSettings>
</configuration>